.chat-panel {
  height: 500px;
  overflow-y: auto;
  .chat-message {
    border: 1px solid #bebebe81;
  }
  .server {
    background: #d4e2f7;
  }
  .client {
    background: #cfefed;
  }
  .dc-overlay {
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    position: absolute;
    background: #ffffffce;
    z-index: 2000;
  }
  .author {
    text-align: right;
    color: #b9b9b9;
    font-weight: bold;
  }
}
