<div class="row">
  <div class="col">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{socket.connected ? userDetail.userName: 'disconnected'}}</mat-card-title>
        <mat-card-subtitle>{{socket.id || 'Not Connected'}}</mat-card-subtitle>
        <div class="spacer"></div>

        <button mat-icon-button [matMenuTriggerFor]="chatMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #chatMenu="matMenu">
          <button mat-menu-item *ngIf="socket.connected" (click)="toggleConnection(false)">
            <mat-icon>stop_circle</mat-icon><span>Stop Connection</span>
          </button>
          <button mat-menu-item *ngIf="inputRows.length" (click)="clearChat()">
            <mat-icon>clear_all</mat-icon><span>Clear Chat History</span>
          </button>
          <button mat-menu-item (click)="showInfo()">
            <mat-icon>info</mat-icon><span>Info</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content>

        <div class="col w-100 text-start p-3 chat-panel" #chatPanelEl>
          <ng-container *ngFor="let row of inputRows">
            <div
              [ngClass]="[row.isLeft ? 'float-start server' : 'float-end client', row.command?.type === 'map' ? 'w-100': '']"
              class="col p-3 rounded mt-3 chat-message">
              <!-- Handle messages here-->
              <ng-container *ngIf="row.message">
                {{row.message}}
              </ng-container>
              <!-- Handle commands here-->
              <ng-container *ngIf="row.command">
                <div *ngIf="row.command.type === 'date'">
                  <app-day-buttons [data]="row.command.data" (onOptionSelected)="onDayOptionSelected($event)">
                  </app-day-buttons>
                </div>
                <div *ngIf="row.command.type === 'map'">
                  <app-map [data]="row.command.data"></app-map>
                </div>
                <div *ngIf="row.command.type === 'complete'">
                  <app-complete [data]="row.command.data" (onOptionSelected)="onCompleteOptionSelected($event)">
                  </app-complete>
                </div>
                <div *ngIf="row.command.type === 'rate'">
                  <app-rate [data]="row.command.data" (onOptionSelected)="onRateOptionSelected($event)"></app-rate>
                </div>
              </ng-container>

              <div class="author mt-1">{{row.author}}</div>
            </div>
            <div class="clearfix"></div>
          </ng-container>
          <div *ngIf="!socket.connected" class="dc-overlay d-flex align-items-center">
            <div class="text-center w-100 text-big">
              Disconnected
              <button mat-stroked-button *ngIf="!socket.connected" (click)="toggleConnection(true)">
                Click to Reconnect
              </button>
            </div>
          </div>
        </div>
        <input type="text" class="form-control mt-2" [(ngModel)]="inputText" #inputTextEl (keyup.enter)="handleCommand()"
          [disabled]="!socket.connected"
          autofocus
          [placeholder]="socket.connected ? 'Start writing text or command...' : 'Not Connected'">
      </mat-card-content>
    </mat-card>

  </div>
</div>
