.chat-panel {
  height: 600px;
  overflow-y: auto;
  .chat-message {
    border: 1px solid #bebebe81;
  }
  .server {
    background: #d4e2f7;
  }
  .client {
    background: #cfefed;
  }
  .dc-overlay {
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    position: absolute;
    background: #ffffffce;
    z-index: 2000;
  }
  .author {
    text-align: right;
    color: #b9b9b9;
    font-weight: bold;
  }
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {

	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #afafaf;

    &:hover {
      background: #8b8b8b;
    }
  }
}
